div.DesktopShareWindow {
    border: 1px solid black;
    margin: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    float: left;
}

div.DesktopShareWindow .Title {
    height: 35px;
    line-height: 35px;
    text-align: center;
    vertical-align: middle;

    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

div.DesktopShareWindow .Container {
    min-height: 150px;
    min-width: 200px;
    height: 200px;
    width: 100%;
    resize: both;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
}

div.DesktopShareWindow .Controls {
    width: auto;
    margin: 2px;
    padding: 2px;
}

div.DesktopShareWindow .Controls .ButtonStrip {
    text-align: center;
    width: auto;
}

div.DesktopShareWindow .Controls .ButtonStrip input[type="button"]{
    width: 75px;
}

div#desktopShareContainer{
    width:100%;
    height: 100%;
    /*background-color: #2b81af;*/
}

div.externalwindow {
    border: black solid 1px;
    width: 320px;
    margin: 2px;
    padding: 2px;
}