div.SystemInformationWindow {
    width: 300px;
    padding: 2px;
    border: 1px solid black;
    margin-bottom: 10px;
}

div.SystemInformationWindow div.Title {
    height: 35px;
    line-height: 35px;
    text-align: center;
    vertical-align: middle;

    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

div.SystemInformationWindow div.Body{
    margin-bottom: 10px;
    margin-top: 10px;
}

div#SystemInformationWindow div.Control{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

div.SystemInformationWindow div.Body button{

}

div.CallPickupNotification div.Title {
    height: 35px;
    line-height: 35px;
    text-align: center;
    vertical-align: middle;

    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
}
div.CallPickupNotification div.Body{
    margin-bottom: 10px;
    margin-top: 10px;
}

div.CallPickupNotification .Body button{

}
